
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

footer {
    color: #9F9F9F;
    background-color: #0D122E;
    padding: 20px 0 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
